body {
  background-color: #EEEEEE;
}
.table {
  width: 95%;
  margin-left: 2em;
}
.table td:first-child {
  font-weight: bold;
}
#title {
  text-align: center;
  margin-left: -10em;
}
#credits {
  float: right;
  margin-top: -2em;
  margin-right: -4em;
}
